extends base
block content
    .project-detail
        <div class="album py-2 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 project-sb">
                        //- {{!-- Links --}}
                        <div class="mb-4 ">
                            <h1>Links</h1>
                            <div class="my-2">
                                <a href="https://github.com/balajinikhil/JS-John" class="btn btn-primary">Github Link</a>
                            </div>
                        </div>
                        <hr />
                        <div>
                            <h1>Tags</h1>
                            //- {{#each project.tags}}
                            a(href="#" class="badge badge-{{this.class}}")=project.name
                            //- {{/each}}
                        </div>
                        <hr />
                        
                        <div>
                            
                            //- {{#each project.relatedProjects}}
                            <div>
                                <a href="/projects">Related Projects</a>
                            </div>
                            //- {{/each}}
                        </div>
                        <hr />
                       
                        <div>
                            <h1>Resources</h1>
                        each el in project.relatedProjects
                            <div>
                                a(href="#")= el.name
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="/projects">Projects</a> </li>
                                 li.breadcrumb-item.active( aria-current="page")=project.name
                            </ol>
                        </nav>
                        h1=project.name
                        p=project.description


                        h2 Give it a try..
                        
                        iframe.project-box(src=`/projects/${project.slug}/index.html` width = "100%" height="70%" frameborder=0)


                    </div>
                </div>
            </div>
        </div>

    